<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>${pageTitle}</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" type="text/css" href="css/test.css">

</head>

<body>
<header>
    <p>This is About</p>
    <nav></nav>
</header>

<main>
    <section>${title}</section>
    <section>${subTitle}</section>
</main>

<footer>
    <div>God is amazing!!!!!dddf</div>
</footer>

<!-- Scripts -->
<!--<script src="/build/front-bundle.js"></script>-->
<script src="/public/dist/front-bundle.js"></script>

</body>
</html>