<!-- Main Header, placed in views/partials/header.html -->
${header}

<body class="text-center">
    <!-- temporary pre-made Bootstrap sample -->
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <div class="inner">

            </div>
        </header>

        <main role="main" class="inner cover">
            <!-- import your images in the app-frontend.js file and append -->
            <img id="testImg" src="" alt="">

            <h1 class="cover-heading">${coverTitle}</h1>
        </main>

        <footer class="mastfoot mt-auto">
            <div class="inner">
                <p>Scaffolding by [ <a href=${repoAuthorSite}>${repoAuthor}</a> ] <i class="fas fa-hand-rock"></i>  <i class="fas fa-rocket"></i></p>
                <p>#handle <a href=${repoAuthorGitLink}>${handle}</a>, #repo <a href=${repoLink}>Link</a></p>
            </div>
        </footer>
    </div>

<!-- Main Footer, placed in views/partials/footer.html -->
<!-- body and html closing tags are inside here as well -->
${footer}