<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>${pageTitle}</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- this is all your scss or css bundled in one -->
  <script src="/dist/style-front-bundle.js"></script>

</head>

<body class="text-center">

  <!-- temporary pre-made Bootstrap sample -->
  <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner">
      </div>
    </header>

    <main role="main" class="inner cover">
      <h1 class="cover-heading">${coverTitle}</h1>
      <h6 class="cover-heading-sub">${coverSub}</h6>
    </main>

    <footer class="mastfoot mt-auto">
      <div class="inner">
        <p>Scaffolding by <a href="https://www.melodiccrypter.com/">Hugh Caluscusin</a>, Git [ <a href="https://github.com/MelodicCrypter">@MelodicCrypter</a> ]</p>
      </div>
    </footer>
  </div>

  <!-- Scripts -->
  <!-- => this is your main frontend js file bundle-->
  <script src="/dist/app-front-bundle.js"></script>
  <!-- => this is for the browser refresh, you can delete or comment this one on production -->
  <script src=${process.env.BROWSER_REFRESH_URL}></script>

</body>
</html>